<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head> 
<title></title>
<h1>Next Meal What?</h1>
<div>Will add later</div>
<div class="large-container">
    <div class="card">
        <div class="container">
        <h4><b>Breakfast</b></h4>
        </div>
    </div>
    <div class="card">
        <div class="container">
        <h4><b>Lunch</b></h4>
        </div>
    </div> 
    <div class="card">
        <div class="container">
        <h4><b>Evening Snack</b></h4>
        </div>
    </div> 
    <div class="card">
        <div class="container">
        <h4><b>Dinner</b></h4>
        </div>
    </div>
</div>
